page-carts {

}
.cartItems{
    font-size: 14px;

}
.textItem{
    padding-top: 10px;
}
.button-clear-md {
   color: #747c8a;
}
.rightSide{
    float: right;
}
.leftSide{
    float: left;
}
.confirmOrder{
    text-align: center;
    background:green;
    font-weight: bold;
    color: #fff;
}
.confirmOrder .toolbar-background{
    background:green;
}
.redText{
    color: #ef2626b8;
}
agm-map {
    height: 160px;
  }