page-carts {

}
.cart-delete-button{
   left: 17%; 
}
.button-clear-md {
   color: #747c8a;
}
.rightSide{
    float: right;
}
.leftSide{
    float: left;
}
.confirmOrder{
    height: 35px;
    width: 100%;
    bottom: 2px;
    position: absolute;
    left: 0px;
    text-align: center;
    height: 40px;
    background:green;
    width: 100%;
    bottom: 2px;
    position: absolute;
    left: 0px;
    text-align: center;

    font-weight: bold;
    color: #fff;
    padding: 10px;
}
