<!--
  Generated template for the TodaySpecialPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
      <ion-title>Eataway your hunger</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  <ion-content padding>
  <div class="menu">
    
      <ion-row>
        <ion-col class="menu-column" (click)="showMenuDetails()">  
          <ion-card class="chip" tabindex="1">
            <ion-list>
              <button ion-item class="chip-button">
                Breakfast
              </button>
            </ion-list>
          </ion-card>
        </ion-col>
        <ion-col class="menu-column" (click)="showMenuDetails()">
          <ion-card class="chip">
            <ion-list>
              <button ion-item class="chip-button">
                Lunch
              </button>
            </ion-list>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="menu-column" (click)="showMenuDetails()">  
          <ion-card class="chip">
            <ion-list>
              <button ion-item class="chip-button">
                Dinner
              </button>
            </ion-list>
          </ion-card>
        </ion-col>
        <ion-col class="menu-column" (click)="showMenuDetails()">
          <ion-card class="chip">
            <ion-list>
              <button ion-item class="chip-button">
                Snaks
              </button>
            </ion-list>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row class="last-row">
        <ion-col class="menu-column" (click)="showMenuDetails()">  
          <ion-card class="chip">
            <ion-list>
              <button ion-item class="chip-button">
                
              </button>
            </ion-list>
          </ion-card>
        </ion-col>
        <ion-col class="menu-column">
          <ion-card class="chip">
            <ion-list>
              <button ion-item class="chip-button">
                
              </button>
            </ion-list>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
            <ion-slides *ngIf="imageList && imageList.length" autoplay="5000" loop="true" speed="3000">
                <ion-slide *ngFor="let img of imageList"> 
                   <img src="{{img}}">
                </ion-slide>
              </ion-slides> 
          
      </ion-row>
  </div>
    <!--<ion-row class="todaySpecialRow">
        <div class="imgSection">
          <img src="../../assets/imgs/puttumkadalem.jpg" />
        </div>
        <div class="descriptionSection">
          <ion-label class="title no-margin" no-padding>Puttum Kadalem</ion-label>
          <ion-label class="desc no-margin">
            Pure Veg
            <span class="priceLabel">
              RS:60.00
            </span>
          </ion-label>
        </div>
      </ion-row>
  
        <ion-row class="todaySpecialRow">
            <div class="imgSection">
              <img src="../../assets/imgs/irachichoru.jpg" />
            </div>
            <div class="descriptionSection">
              <ion-label class="title no-margin" no-padding>Irachi Chor</ion-label>
              <ion-label class="desc no-margin">
                Non Veg
                <span class="priceLabel">
                  RS:130.00
                </span>
              </ion-label>
            </div>
          </ion-row>-->
  
  </ion-content>