<ion-header>

  <ion-navbar>
    <ion-title>Eataway your hunger</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-row class="full-width menu-head">
    Menu
  </ion-row>
  <ion-row class="sub-menu full-width" center>
    <ion-col><ion-item class="menu-item " [ngClass]="{'acitve':activeMenu==='Dinner'}" (click)="changeMenu('Dinner')">Dinner</ion-item></ion-col>
    <ion-col><ion-item class="menu-item " [ngClass]="{'acitve':activeMenu==='Snacks'}" (click)="changeMenu('Snacks')">Snaks</ion-item></ion-col>
    <ion-col><ion-item class="menu-item " [ngClass]="{'acitve':activeMenu==='Lunch'}" (click)="changeMenu('Lunch')">Lunch</ion-item></ion-col>
  </ion-row>
  <ion-card class="menu">
    <ion-slides>
      <ion-slide *ngFor="let item of itemList">
        <ion-grid style="height: 100%;">
          <ion-row class="firstRow">
            <ion-col col-5>
              <img src="{{item.imgPath}}">
            </ion-col>
            <ion-col col-7>
              <ion-item>Price : {{item.price}}</ion-item>
              <ion-item>
                <ion-label>Qty : </ion-label>
                <ion-input type="text" class="qtyInput"></ion-input>
              </ion-item>
              <ion-item>
                <button ion-button small (click)="addToCart(item)">+</button>
              </ion-item>
              <ion-item>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row class="secondRow">
            <span class="itemTitle">{{item.title}}</span>
            <img class="foodType" *ngIf="item.type==='Y'" src="../../assets/icon/veg.png" >
            <img class="foodType" *ngIf="item.type==='N'" src="../../assets/icon/nonveg.png">
            <br>
            <p>{{item.description}}</p>
          </ion-row>
        </ion-grid>
      </ion-slide>
    </ion-slides>
  </ion-card>
</ion-content>