page-menu {

}
.menu{
    height:80%;
    width: 100%;
    margin: 0px;
}
.menu .slide-zoom{
    height: 100%;
}
.menu-item.item-md.item-block .item-inner{
    border-bottom: 0;
}
.menu-item.item.item-block.item-md.acitve .item-inner{
    border-bottom: 1px solid blueviolet;
}
.firstRow,
.secondRow{
    height: 50%;
}
.secondRow{
    padding-top: 10px;
}
.firstRow img{
    height: 100%;
}
.firstRow .qtyInput .text-input{
    height: 25px;
    width: 30px;
    margin: 0;
    border: 1px solid;
}
.itemTitle{
    font-weight: bold;
    padding-top: 5px;
    
}
.secondRow .foodType{
    height: 25px;
    width: 25px;
    margin-left: 10px;
}